
  /*background-repeat: no-repeat;*/
  /*background-image: url('yy.png');*/
 /* background-position: center;₹/
 /* background-size: cover;*/
 /* background-attachment: fixed;*/


.cont {
    display: flex;
    height: 90rem;
    width: 100rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-cont {
    margin-top: 5rem;
    display: flex;

}

.img1 {
    margin-right: 15rem;
    margin-bottom: 10rem;
}

img {
    width: 300px;
}


.opa {
   opacity: 0;
    width: 10rem;
}

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
.img-cont {
    margin-top: 5rem;
    display: flex;
justify-content: center;
    align-items: center;
    flex-direction: column


}
  
}
